@font-face {
  font-family: 'CodecPro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: 
    url("../fonts/codec-pro.woff2") format('woff2'),
    url("../fonts/codec-pro.ttf") format('ttf');
}